<main
  [ngClass]="
    appHeaderProp !== 'UiCompsRoutin' && appSubHeaderProp !== 'Nav-Route'
      ? 'app-components'
      : ''
  "
>
  <section *ngIf="!hasChildRoute">
    <div class="component-list grid-auto">
      <ng-container *ngFor="let data of appUiCompsList">
        <section class="app-card" [routerLink]="data.routerLink">
          <div class="card-body">
            <div class="comp-img">
              <img
                [src]="data.img.path"
                [alt]="data.img.alt"
                [class]="data.img.class"
              />
            </div>
            <div class="comp-desc">
              <h3>{{ data.compDesc.h3 }}</h3>
              <p>{{ data.compDesc.p }}</p>
            </div>
          </div>
        </section>
      </ng-container>
    </div>
  </section>

  <router-outlet *ngIf="hasChildRoute"></router-outlet>
</main>
