<main>
  <h2 class="comp-title">Dropdown</h2>

  <section class="grid-02">
    <!-- Regular Dropdown -->
    <section class="app-card card-expand">
      <div class="card-header">
        <h3>Regular</h3>
      </div>
      <div class="card-body">
        <div class="dropdown" id="dropdown01">
          <div class="dd-menu">
            <p class="dd-name">Mobile List</p>
            <span class="material-symbols-outlined"> arrow_drop_down </span>
          </div>
          <ul class="dd-list">
            <li class="dd-option">Apple</li>
            <li class="dd-option">Samsung</li>
            <li class="dd-option">Google Pixel</li>
            <li class="dd-option">Nokia</li>
            <li class="dd-option">Motorola</li>
            <li class="dd-option">Apple</li>
            <li class="dd-option">Samsung</li>
            <li class="dd-option">Google Pixel</li>
            <li class="dd-option">Nokia</li>
            <li class="dd-option">Motorola</li>
          </ul>
        </div>
      </div>
    </section>
  </section>
</main>
