<main class="app">
  <header class="app-header">
    <a routerLink="Home">Home</a>
    <a routerLink="Component" routerLinkActive="selected">Components</a>
    <img src="./../assets/logo-vector.svg" alt="Product Logo" />
    <a routerLink="Templates" routerLinkActive="selected">Templates</a>
    <a href="">Portfolio</a>
  </header>
  <section class="app-home">
    <img src="./assets/logo.svg" class="logo" alt="SassifyUi Logo" />
    <p class="home-desc">
      A sleek, customisable SCSS-based UI toolkit for rapid and responsive
      Angular development. Built for flexibility and ease of use, empowering
      developers to create beautiful UIs effortlessly.
    </p>
    <div class="install-kit selected">
      <div>
        <p>Installation Kit</p>
        <h3>npm i &#64;dev.spot/sassify-ui</h3>
      </div>
      <span class="material-symbols-outlined"> file_copy </span>
    </div>
    <p class="app-version">v0.1</p>
  </section>
  <footer class="app-footer">
    <div class="desc-cards selected">
      <h3>Components</h3>
    </div>
    <div class="desc-cards selected">
      <h3>Templates</h3>
    </div>
    <div class="desc-cards selected">
      <h3>Contact</h3>
    </div>
  </footer>
</main>
