<main class="app">
  <nav
    class="app-header"
    *ngIf="
      appSubHeaderProp !== 'CusApp-Route' && appSubHeaderProp !== 'Nav-Route'
    "
  >
    <div class="container-01 selected">
      <ng-container
        *ngIf="
          appSubHeaderProp === undefined || appSubHeaderProp === 'CusHome-Route'
        "
      >
        <a routerLink="" [ngClass]="appHeaderProp === '' ? 'active' : ''"
          ><span class="material-symbols-outlined"> home </span>
          <span>Home</span></a
        >
        <a routerLink="UiCompsRouting" routerLinkActive="active"
          ><span class="material-symbols-outlined"> category </span>
          <span>Components</span></a
        >
        <a routerLink="TempSetRouting" routerLinkActive="active"
          ><span class="material-symbols-outlined"> space_dashboard </span>
          <span>Templates</span></a
        >
        <a routerLink="CustomizerRouting" routerLinkActive="active"
          ><span class="material-symbols-outlined"> instant_mix </span>
          <span>Customizer</span></a
        >
      </ng-container>

      <!-- Componenets & Templates -->
      <p
        *ngIf="
          appSubHeaderProp !== undefined && appSubHeaderProp !== 'CusHome-Route'
        "
        class="scroll-arrow"
        (click)="scrollLeft()"
      >
        <span class="material-symbols-outlined"> chevron_left </span>
      </p>
      <div
        *ngIf="
          appSubHeaderProp !== undefined && appSubHeaderProp !== 'CusHome-Route'
        "
        class="app-links"
        #scrollArea
      >
        <div *ngIf="appHeaderProp === 'UiCompsRouting'" class="links-list">
          <a
            routerLink="UiCompsRouting/Accordion-Route"
            routerLinkActive="active"
          >
            <span class="material-symbols-outlined"> unfold_more </span>
            <span>Accordion</span>
          </a>
          <a routerLink="UiCompsRouting/Button-Route" routerLinkActive="active">
            <span class="material-symbols-outlined"> buttons_alt </span>
            <span>Button</span>
          </a>
          <a routerLink="UiCompsRouting/Card-Route" routerLinkActive="active">
            <span class="material-symbols-outlined"> dashboard </span>
            <span>Card</span>
          </a>
          <a
            routerLink="UiCompsRouting/Dropdown-Route"
            routerLinkActive="active"
          >
            <span class="material-symbols-outlined"> dropdown </span>
            <span>Dropdown</span>
          </a>
          <a routerLink="UiCompsRouting/Inputs-Route" routerLinkActive="active">
            <span class="material-symbols-outlined"> draw </span>
            <span>Inputs</span>
          </a>
          <a
            routerLink="UiCompsRouting/MenuBar-Route"
            routerLinkActive="active"
          >
            <span class="material-symbols-outlined"> widgets </span>
            <span>Menu Bar</span>
          </a>
          <a routerLink="UiCompsRouting/Nav-Route" routerLinkActive="active">
            <span class="material-symbols-outlined"> side_navigation </span>
            <span>Navigation</span>
          </a>
          <a routerLink="UiCompsRouting/Table-Route" routerLinkActive="active">
            <span class="material-symbols-outlined"> table </span>
            <span>Table</span>
          </a>
          <a routerLink="UiCompsRouting/Tabs-Route" routerLinkActive="active">
            <span class="material-symbols-outlined"> tab </span>
            <span>Tabs</span>
          </a>
        </div>
      </div>
      <p
        *ngIf="
          appSubHeaderProp !== undefined && appSubHeaderProp !== 'CusHome-Route'
        "
        class="scroll-arrow"
        (click)="scrollRight()"
      >
        <span class="material-symbols-outlined"> chevron_right </span>
      </p>
    </div>
    <div class="container-02 selected">
      <img src="./assets/logo-vector.svg" alt="Product Logo" />
    </div>
  </nav>

  <section class="app-body">
    <section class="app-home" *ngIf="appHeaderProp === ''">
      <img src="./assets/logo.svg" class="logo" alt="SassifyUi Logo" />
      <p class="home-desc">
        A sleek, customisable SCSS-based UI toolkit for rapid and responsive
        Angular development. Built for flexibility and ease of use, empowering
        developers to create beautiful UIs effortlessly.
      </p>
      <div class="app-guide">
        <div class="app-btns">
          <button
            class="selected"
            routerLink="UiCompsRouting"
            routerLinkActive="active"
          >
            <span class="material-symbols-outlined"> book </span>
            <span>Read Docs</span>
          </button>
          <a class="selected" routerLink="CustomizerRouting/CusHome-Route">
            <span class="material-symbols-outlined"> draw </span>
            <span>View Editor</span>
          </a>
        </div>
        <div class="install-kit selected">
          <div>
            <small>Installation Kit</small>
            <h3>npm i &#64;dev.spot/sassify-ui</h3>
          </div>
          <span class="material-symbols-outlined"> content_paste </span>
        </div>
      </div>
      <!-- Shapes -->
      <div class="home-shape-01 selected"></div>
      <div class="home-shape-02 selected"></div>
      <div class="home-shape-03 selected"></div>
      <div class="home-shape-04 selected"></div>
    </section>
    <router-outlet></router-outlet>
  </section>

  <!-- <nav class="app-nav">
    <div
      class="links selected"
      [ngStyle]="{ display: showNavLinks ? 'flex' : 'none' }"
    >
      <ng-container *ngIf="appHeaderProp === ''">
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
          aut consequatur quam tempore omnis libero, quae sunt blanditiis cum
          iusto.
        </p>
      </ng-container>
    </div>
    <div class="logo selected" (click)="navLinksFn()">
      <img src="./assets/logo-vector.svg" alt="Product Logo" />
    </div>
  </nav> -->
</main>
