<nav class="nav-left">
  <div class="nl-set01">
    <h3>
      <span class="material-symbols-outlined" id="navLeft-tigger">menu</span>
      <span>Company Logo</span>
    </h3>
  </div>
  <div class="nl-set02">
    <p class="nl-link nl-active">
      <span class="material-symbols-outlined">dashboard</span>
      <span>Dashboard</span>
    </p>
    <p class="nl-link">
      <span class="material-symbols-outlined">add_circle</span>
      <span>Creation</span>
    </p>
    <p class="nl-link">
      <span class="material-symbols-outlined">table</span>
      <span>Summary</span>
    </p>
  </div>
  <div class="nl-set03">
    <p class="nl-link">
      <span>Home</span>
    </p>
    <p class="nl-link">
      <span>Master</span>
    </p>
  </div>
</nav>
